%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [{fnotify, ".*",
         {git, "git://github.com/Feuerlabs/fnotify.git", "master"}},
        {dthread, ".*",
         {git, "git://github.com/tonyrog/dthread.git", "master"}},
        {uart, ".*",
         {git, "git://github.com/tonyrog/uart.git", "master"}},
        {proper, ".*",
         {git, "git://github.com/manopapad/proper", "master"}}]}.
