%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors, debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{sub_dirs, ["rel"]}.
{deps, [{fnotify, ".*",
         {git, "git://github.com/Feuerlabs/fnotify.git", {branch, "master"}}},
        {dthread, ".*",
         {git, "git://github.com/tonyrog/dthread.git", {branch, "master"}}},
        {uart, ".*",
         {git, "git://github.com/tonyrog/uart.git", {branch, "master"}}},
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
        {sync, ".*",
         {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {jsx, ".*",
         {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        %% Silence the gproc compile warning :(
        {gen_leader, ".*",
         {git, "git://github.com/garret-smith/gen_leader_revival.git",
          {branch, "master"}}},
        {gproc, ".*",
         {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
        {mimetypes, ".*",
         {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
        {lager, ".*",
         {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {folsom, ".*",
         {git, "git://github.com/boundary/folsom.git", {branch, "master"}}}]}.
